html, body {
  width: 100%;
  height: 100%;
}

#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

#allotment {
 /* width: 600px;
  height: 420px;*/
  border: 1px solid #f0f0f0;
  margin-bottom: 10vh;
  background: #f0f0f0;
}

.row-guide {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 1px;
  /*stroke-dashoffset: 1000;*/
}

svg {
  border: 1px solid black;
}